.wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    width: 300px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #232222;
    transition: all 0.5s ease 0s;
    z-index: 5;
    margin-left: -300px;

    &.sidebar-opened {

        margin-left: 0%;
    }

    // .sidebar__body
    &__body {
        padding: 10px;
    }

    // .sidebar__list
    &__list {
        &:not(:last-child) {
            margin-bottom: rem(50);
        }
    }
}

.list-sidebar__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include adaptiveValue("gap", 10, 5);
    font-weight: 300;
    font-size: rem(14);
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.1s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            background-color: rgba(91, 91, 91, 0.25);
        }
    }
}

.add-task-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: rem(14);
    font-weight: 700;
    @include adaptiveValue("gap", 10, 5);
    transition: all 0.3s ease 0s;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.1s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            color: $blue;
        }
    }

    &._sidebar-add-task {
        width: 100%;

        @media (any-hover: hover) {
            &:hover {
                color: $blue;
                background-color: rgba(91, 91, 91, 0.25);
            }
        }
    }
}

.sidebar-icon {
    transition: all 0.1s ease 0s;
}

.sidebar__button-toggle {
    padding: 10px 10px 5px 10px;
    border-radius: 5px;
    float: right;
    transition: all 0.15s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            background-color: rgba(91, 91, 91, 0.25);

            .sidebar-icon {
                color: #a3a3a3;
                color: #fff;
            }
        }
    }
}

.content-sidebar-button {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease 0s;
    float: left;
    margin: 10px 0px 0px 10px;
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;

    &._hidden {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}


.spoiler-sidebar {

    // .spoiler-sidebar__title
    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: rem(10);
        cursor: pointer;
        padding: 10px 2px 10px 10px;
        border-radius: 5px;
        font-size: rem(16);
        color: #a3a3a3;
        font-weight: 700;

        @media (any-hover: hover) {
            &:hover {
                background-color: rgba(91, 91, 91, 0.25);
            }
        }
    }

    // .spoiler-sidebar__buttons
    &__buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    // .spoiler-sidebar__button
    &__button {
        padding: 5px;
        border-radius: 5px;
        transition: all 0.3s ease 0s;
        transform: rotate(-90deg);

        ._opened & {
            .spoiler-sidebar-title__icon--arrow {
                transform: rotate(90deg);
            }
        }

        @media (any-hover: hover) {
            &:hover {

                .spoiler-sidebar-title__icon {
                    color: #fff;
                }
            }
        }
    }

    // .spoiler-sidebar__body
    &__body {
        display: none;
        visibility: hidden;
        opacity: 0;

        ._opened & {
            display: block;
            visibility: visible;
            opacity: 1;


        }
    }
}



.spoiler-sidebar-title__icon {
    transition: all 0.3s ease 0s;
}

.body-spoiler-sidebar {

    // .body-spoiler-sidebar__item
    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        font-weight: 300;
        font-size: rem(14);
        padding: 10px;
        border-radius: 5px;
        transition: all 0.1s ease 0s;
        position: relative;

        @media (any-hover: hover) {
            &:hover {
                background-color: rgba(91, 91, 91, 0.25);

                .options-icon {
                    padding: 0;
                }
            }
        }

        p {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }
    }

    // .body-spoiler-sidebar__options
    &__options {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0px, -50%);
        padding: 5px 5px 0 5px;

        @media (any-hover: hover) {
            &:hover {
                background-color: rgba(91, 91, 91, 0.25);
            }
        }

        .options-icon {}
    }
}