.page__title {
    @include adaptiveValue("font-size", 30, 18);
    font-weight: 700;

    &:not(:last-child) {
        margin-bottom: rem(20);
    }
}

.page__container {
    padding-top: 70px;
}

.page__todos-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: rem(10);
}